<%- errorMessagesFor(client) %>
<div class="control-group">
   <%- form.label("name", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("name") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("address", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("address") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("phone", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("phone") %>
   </div>
</div>
